* {
    margin: 0px;
    padding: 0px;
}

body {
	background: #222 ;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
}

#top {
    background: #222 url("top.jpg") repeat-x;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
}
 
a img{ border: 0px; }

a { text-decoration: none;}

input {
    background: #333;
    font-family: Verdana;
    font-size: 0.7em;
    padding: 3px;
    color: #f4f4f4;
    border: 2px solid #555;
}
	
button {
    background: #222;
    font-family: Verdana;
    font-size: 0.7em;
    padding: 2px;
    color: #f4f4f4;
    border: 2px solid #444;
    height: 2em;
}

.hidden { text-indent: -9000px;}
.br { clear: both;}
.blue { color: #1C1CFF;}
.small { font-size: x-small;}
.large { font-size: xx-large;}
.right { float: right;}
.left { float: left;}
.center { margin: 0 auto; text-align: center;}
.td.menu{background:black}

#container { width: 700px;}
 
#logo { float: left;}

#logo h1 { 
    margin-top: 30px;
    margin-left: 10px;
    font-size: 1.6em;
    letter-spacing: -0.1em;
}
 
#search {
    margin-top: 30px;
    float: right;
	width: 510px;
}
 
#search button { 
    margin-left: 5px;
    padding: 0 2px 2px 2px;
}

#navlist {
    float: left;
    width: 140px;
    margin-top: 30px;
    margin-left: 5px;
}
 
#navlist ul {
    list-style: none;
	margin:0;
    padding:0;
}

#navlist li a{
    display: block;
    height: 25px;
    width: 100px; 
    padding: 9px;
    margin: 5px;
    background: inherit;
    border-right: 4px solid #444;
    color: #999;
    text-transform: lowercase;
    font-size: 0.9em;
}
#navlist ul li{
    background-color:inherit;
    width:150px;
    cursor:pointer;
}
 
#navlist li a:hover {
    color: #f4f4f4;
    background: #333;
    border-right: 4px solid #1C1CFF;
}
 
#navlist li .active {
    color: #999;
    background: #333;
    border-right: 4px solid #444;
}

#content { 
    float: left;   
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
}

#content a {
    color:#1C1CFF;
    font-weight: bold;
}

#content a:hover { 
    color: #fff;  
    font-weight: bold;
}
 
#content p {
    line-height: 1.4em; 
    font-size: 0.7em; 
    margin-bottom: 20px; 
    color: #f4f4f4;
}
 
#content h3 {
    color: #999;
    margin-bottom: 4px;
}

#content h3:hover { color: #fff;}

#content .code{
    color: #444;
	background: #F4f4f4 url(codenums.png) repeat-y;
    border: 1px solid #ccc;
    padding: 1px;
    padding-left: 25px;
	font-family: "courier new", helvetica, "times new roman", monospace;
	font-size: 0.8em;
	width: 470px;
	margin: 2px auto;
	white-space: nowrap;
	overflow: auto;
}
	  
#content  code {
    color: #fff;
	font-family: "courier new", helvetica, "times new roman", monospace;
	background-color: #333;
	font-size: 1.2em;
}

#content blockquote { 
    color: #999; 
    font-style: italic; 
    text-align: center; 
    width: 300px; 
    margin: 10px auto;
}

#footer {
    text-align: center;
    color: #666;
    margin-top: 30px;
    font-size: 0.7em;
}
 
#footer p { color: #666;}
#footer a { color: #666;}
#footer a:hover { color: #f4f4f4;}

/* Clear float */
.clear{
    clear:both;
}